<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Reactron</title>
  </head>
  <style>
    .mic {
      background: red;
      width: 100vw;
      height: 50px;
      position: absolute;
      top: 0;
      -webkit-app-region: drag;
    }
  </style>
  <body>
    <div class="mic"></div>
    <div id="root"></div>
  </body>
  <script></script>
</html>
